.button {
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--blue-light);
  }

  &.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    &:hover {
      background-color: #ccc;
    }
  }

  @media (min-width: 769px) {
    padding: 15px 30px;
    font-size: 1.2em;
  }
}
