.days-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  @media (min-width: 769px) {
    width: 100%;
  }
}

.days {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  color: var(--orange);
  border: solid 0.5px var(--gray-light);
  border-radius: 10px;
  font-size: 1.3rem;
  width: 34px;

  @media (min-width: 375px) {
    width: 36px;
    height: 25px;
    padding: 2px;
    font-size: 1.3rem;
  }

  @media (min-width: 769px) {
    width: 82px;
    height: 30px;
    padding: 5px;
    font-size: 1.3rem;
  }

  @media (min-width: 1024px) {
    width: 121px;
    height: 30px;
    padding: 5px;
    font-size: 1.3rem;
  }
}

.days-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 1.5px;

  @media (min-width: 375px) {
    gap: 7px;
  }

  @media (min-width: 769px) {
    gap: 10px;
  }

  @media (min-width: 1024px) {
    gap: 8px;
  }
}
