.cell-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.cell {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 2.5em;
  height: 3em;
  font-size: 0.7em;
  border: solid 0.5px var(--gray-light);
  color: var(--blue);

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    background-color: var(--green-transparent);
  }

  @media (min-width: 375px) {
  }

  @media (min-width: 769px) {
    width: 8em;
    height: 5em;
    font-size: 1em;
    margin: 3px;
    padding: 5px;
    color: var(--blue);
    font-size: 1em;
  }
}

.not-current-month {
  color: var(--gray-dark);
}

.cells-number {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
}

.cells-row {
  display: flex;
  justify-content: center;
}

.cells-body {
  width: 240px;

  @media (min-width: 375px) {
    width: 300px;
  }

  @media (min-width: 769px) {
    width: 600px;
  }
}
