.days-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  @media (min-width: 769px) {
    width: 100%;
  }
}

.days {
  text-align: center;
  padding: 5px;
  color: var(--orange);
  border: solid 0.5px var(--gray-light);
  border-radius: 10px;
  font-size: 0.7em;
  width: 4em;

  @media (min-width: 375px) {
    width: 3em;
    padding: 2px;
  }

  @media (min-width: 769px) {
    width: 5.3em;
    padding: 5px;
  }

  @media (min-width: 1024px) {
    width: 7.2em;
    padding: 5px;
  }
}

.days-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: bold;
  gap: 1.5px;

  @media (min-width: 375px) {
    font-size: 1.1em;
    gap: 7px;
  }

  @media (min-width: 769px) {
    font-size: 1.5em;
    gap: 10px;
  }

  @media (min-width: 1024px) {
    font-size: 1.5em;
    gap: 8px;
  }
}
