.cell-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.cell {
  display: flex;
  justify-content: center;
  margin: 3px;
  width: 2.8em;
  height: 3em;
  font-size: 0.7em;
  border: solid 0.5px var(--gray-light);
  color: var(--blue);

  &:hover {
    cursor: pointer;
    background: var(--orange-deep-gradient);
  }

  @media (min-width: 375px) {
    width: 3.4em;
    height: 4em;
    margin: 3px;
    padding: 5px;
    font-size: 0.7em;
  }

  @media (min-width: 769px) {
    justify-content: left;
    width: 6.1em;
    height: 5em;
    font-size: 1em;
    margin: 6px;
    padding: 5px 15px;
    font-size: 0.9em;
  }

  @media (min-width: 1024px) {
    width: 7.5em;
    height: 5em;
    font-size: 1em;
    margin: 3px;
    padding: 10px 15px;
    font-size: 1em;
  }
}

.clicked {
  &:active {
    background-color: var(--orange-transparent);
  }
}

.not-current-month {
  color: var(--gray-dark);
}

.cells-number {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
}

.cells-row {
  display: flex;
  justify-content: center;
}

.cells-body {
  width: 240px;

  @media (min-width: 375px) {
    width: 300px;
  }

  @media (min-width: 769px) {
    width: 500px;
  }

  @media (min-width: 1024px) {
    width: 900px;
  }
}
