.pic-calendar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;

  @media (min-width: 769px) {
    width: 70%;
  }
}

.pic-calendar-header {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  color: var(--gray-dark);
  font-weight: bold;
  letter-spacing: -1px;
  margin: 10px 0;

  .year {
    font-size: 1em;
  }
}

.icon {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--blue);
  cursor: pointer;
  margin: 0 10px;

  @media (min-width: 769px) {
    font-size: 1.5em;
  }
}
