.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 0 20px;
  gap: 20px;

  @media (min-width: 768px) {
    padding: 20px;
  }
}

.logo {
  width: 200px;

  @media (min-width: 375px) {
    width: 300px;
  }

  @media (min-width: 769px) {
    width: 500px;
  }

  animation: cuteAnimation 1s ease-in-out infinite;

  @keyframes cuteAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
