.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 0 20px;
  gap: 20px;

  @media (min-width: 768px) {
    padding: 20px;
  }
}

.logo {
  width: 200px;

  @media (min-width: 375px) {
    width: 250px;
    margin: 10px;
  }

  @media (min-width: 769px) {
    width: 350px;
    margin: 20px 0;
  }

  animation: logo-vertical 2s ease-in-out infinite;
  @keyframes logo-vertical {
    0% {
      transform: translateY(0);
    }
    8.33% {
      transform: translateY(6px);
    }
    16.65% {
      transform: translateY(-5px);
    }
    24.98% {
      transform: translateY(4px);
    }
    33.3% {
      transform: translateY(-2px);
    }
    41.63% {
      transform: translateY(1px);
    }
    49.95% {
      transform: translateY(0);
    }
    58.28% {
      transform: translateY(0);
    }
    66.6% {
      transform: translateY(0);
    }
    74.93% {
      transform: translateY(0);
    }
    83.25% {
      transform: translateY(0);
    }
    91.58% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.main-btn {
  background-color: var(--green-light);
  color: var(--white);
  letter-spacing: -1px;

  &:hover {
    background: var(--green-gradient);
    &::after {
      content: "잠금을 해제하고 달력으로 이동합니다.";
    }
  }

  &::after {
    content: "잠금 상태입니다.";
    transition: content 0.2s ease;
    color: var(--black);
    font-size: 0.9rem;
    position: relative;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 769px) {
    font-size: 1rem;
  }
}
